<div class="profile-card" *ngIf="!loading && !errorMessage && !editMode">
  <h2>{{member.name}} Profile</h2>
  <p><strong>Member ID:</strong> {{ member.id }}</p>
  <p><strong>Name:</strong> {{ member.name }}</p>
  <p><strong>Email:</strong> {{ member.email }}</p>
  <p><strong>Phone:</strong> {{ member.phone }}</p>
  <p><strong>Address:</strong> {{ member.address }}</p>
  <p><strong>MemberShip Status:</strong> {{ member.membershipStatus }}</p>
  <button (click)="enableEdit()"><i class="fa-solid fa-pen"></i> Edit</button>
</div>
 
<div class="profile-edit-card" *ngIf="!loading && !errorMessage && editMode">
  <h2>Edit Profile</h2>
  <form [formGroup]="profileForm" (ngSubmit)="saveChanges()">
    <label>Name</label>
    <input formControlName="name" type="text" />
 
    <label>Phone</label>
    <input formControlName="phone" type="text" />
 
    <label>Address</label>
    <input formControlName="address" type="text" />
 
    <button type="submit" [disabled]="profileForm.invalid">Save</button>
    <button type="button" class="secondary" (click)="cancelEdit()">Cancel</button>
  </form>
</div>
 
<p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
